<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @question_set.name %>
</p>

<p>
  <b>Course:</b>
  <%= @question_set.course_id %>
</p>


<%= link_to 'Edit', edit_question_set_path(@question_set) %> |
<%= link_to 'Back', question_sets_path %>
